{% extends '@EghojansuSetup/base.html.twig' %}

{% block body %}
    {% include '@EghojansuSetup/_done.html.twig' with {back: 'eghojansu_setup_versions'} %}

    <p>{{ 'You will perform setup for version %version%'|trans({'%version%':version}) }}</p>

    {% form_theme form 'form_table_layout.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-table form-full'}}) }}
    {% if hasConfig %}
        <p>{{ 'Please fill configuration below'|trans }}:</p>

        {{ form_widget(form) }}
    {% endif %}
    <button class="submit-form" type="submit">{{ 'Confirm'|trans }}</button>
    {{ form_end(form) }}

    <div class="note">
        <strong>{{ 'Note'|trans }} :</strong>
        <ul>
            <li>{{ 'Please make sure the configuration is valid before you submit'|trans }}</li>
            <li>{{ 'If there is no fillable field, please press confirm button'|trans }}</li>
            <li>{{ 'Fill empty value with "null" text or "~" character'| trans }}</li>
            <li>{{ 'Fill true value with "yes", "true" or "on"'|trans }}</li>
            <li>{{ 'Fill false value with "no", "false" or "off"'|trans }}</li>
        </ul>
    </div>
{% endblock %}
