{% extends '@EghojansuSetup/base.html.twig' %}

{% block body %}
    {% include '@EghojansuSetup/_done.html.twig' %}
    {% include '@EghojansuSetup/_note.html.twig' %}

    <p class="note maintenance">{{ 'Maintenance status'|trans }} : {% if maintenance %}<span class="active">{{ 'Active'|trans }}</span>{% else %}<span class="inactive">{{ 'Inactive'|trans }}</span>{% endif %}</p>

    {% form_theme form 'form_table_layout.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-table'}}) }}
    {{ form_widget(form) }}
    <button class="submit-form" type="submit">{{ 'Confirm'|trans }}</button>
    {% if maintenance %}
        <a href="{{ path('eghojansu_setup_versions') }}">{{ 'Click to continue to setup page'|trans }}</a>
    {% else %}
        <span class="tips">{{ 'You have to activate maintenance status before continue to next page'|trans }}</span>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}

{% block styles %}
    {{ parent() }}

    <style>
    .maintenance {
        color: #333;
        font-style: normal;
    }
    .maintenance .active,
    .maintenance .inactive {
        font-size: larger;
        font-weight: bold;
        color: red;
        text-transform: uppercase;
    }
    .maintenance .inactive {
        color: green;
    }

    .tips {
        font-style: italic;
    }
    </style>
{% endblock %}
