{% extends '@EghojansuSetup/base.html.twig' %}

{% block body %}
    {% include '@EghojansuSetup/_done.html.twig' with {back_path: 'eghojansu_setup_maintenance'} %}

    <p>{{ 'Change passphrase'|trans }}</p>

    {% form_theme form 'form_table_layout.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-table'}}) }}
    {{ form_widget(form) }}
    <button class="submit-form" type="submit">{{ 'Confirm'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
