{% extends '@EghojansuSetup/base.html.twig' %}

{% block body %}
    {% include '@EghojansuSetup/_done.html.twig' with {back_path: 'eghojansu_setup_maintenance'} %}
    {% include '@EghojansuSetup/_note.html.twig' with {'key': 'error', 'classes': 'note error', 'header': 'Error'} %}

    <p>{{ 'Please select version to install'|trans }}</p>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'No'|trans }}</th>
                <th>{{ 'Version'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in versions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.version }}</td>
                <td>{{ item.description|nl2br }}</td>
                <td>
                    {%- if item.installed -%}
                        <span class="installed">{{ 'Installed'|trans }}</span>
                        {%- if item.install_date -%}
                            &nbsp; (<span class="installed-date">{{ item.install_date|date }}</span>)
                        {%- endif -%}
                    {%- else -%}
                        <a href="{{ path('eghojansu_setup_config', {'version': item.version}) }}" class="install">{{ 'Install'|trans }}</a>
                    {%- endif -%}
                </td>
            </tr>
            {%- else -%}
                <tr>
                    <td colspan="4">{{ 'No setup available'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block styles %}
    {{ parent() }}

    <style>
    .table .installed {
        color: red;
        text-transform: uppercase;
    }
    .table .installed-date {}
    .table .install {
        color: green;
    }
    </style>
{% endblock %}
